<div class="container">
  <div class="jumbotron text-center">

    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4" ng-if="currentQuestion < questions.length">
        <img src="assets/images/happy.svg" width="200" height="200" ng-click="onUpVote()" /><br>
        <h2>{{questions[currentQuestion]}}</h2>
        <img src="assets/images/sad.svg" width="200" height="200" ng-click="onDownVote()" /><br>
      </div>

      <div class="col-sm-4" ng-if="currentQuestion == questions.length">
        <h2>Thank you for your feedback!</h2>
      </div>

    </div>
  </div>

</div>
